In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 20)

In [25]:
'''
a #number picked by A
A #Player A
ult_a #utility of A
'''

n = 4  # Num of palyers
epsilon = 0.05 #stepsize

In [28]:
def get_utl_of_a_palyer(ord_picks,p_index,p_name):
    if p_index == 1:
        ult = ord_picks[p_index]-ord_picks[0] + (ord_picks[p_index+1]-ord_picks[p_index])/2
    elif p_index == len(ord_picks)-2:
        ult = ord_picks[-1]-ord_picks[p_index] + (ord_picks[p_index]-ord_picks[p_index-1])/2
    else:
        ult = (ord_picks[p_index+1]-ord_picks[p_index-1])/2
    return {"utl_"+p_name:np.round(ult,4)}

def get_utl_for_each_palyer(picks_dic):
    utl_dic = {}
    ord_picks_dic = {k: v for k, v in sorted(picks_dic.items(), key=lambda item: item[1])}
    for p_index in range(1,n+1):
        utl_dic.update(get_utl_of_a_palyer(list(ord_picks_dic.values()),p_index,list(ord_picks_dic.keys())[p_index],))
    ord_picks_dic.update(utl_dic)
    return ord_picks_dic
#test
picks_dic={}
picks_dic["bounder_l"] = 0
picks_dic["a"] = 0.1
picks_dic["b"] = 0.3
picks_dic["c"] = 0.2
picks_dic["d"] = 0.6
picks_dic["bounder_r"] = 1
get_utl_for_each_palyer(picks_dic)

{'bounder_l': 0,
 'a': 0.1,
 'c': 0.2,
 'b': 0.3,
 'd': 0.6,
 'bounder_r': 1,
 'utl_a': 0.15,
 'utl_c': 0.1,
 'utl_b': 0.2,
 'utl_d': 0.55}

In [152]:
epsilon = 0.05
arr_a = np.arange(0,1+epsilon,step=epsilon)
arr_b = np.arange(0,1+epsilon,step=epsilon)
arr_c = np.arange(0,1+epsilon,step=epsilon)
arr_d = np.arange(0,1+epsilon,step=epsilon)

In [153]:
#%%time
#columns = ["bounder_l","a","b","c","bounder_r","utl_a","utl_b","utl_c"]
df = pd.DataFrame()
picks_dic = {}
picks_dic["bounder_l"] = 0
for a in arr_a:
    a = np.round(a,4)
    print("Progress:{}/100".format(a*100))
    picks_dic["a"] = a
    for b in arr_b:
        b = np.round(b,4)
        if b == a:
            continue
        picks_dic["b"] = b
        for c in arr_c:
            c = np.round(c,4)
            if c==b or c==a:
                continue
            picks_dic["c"] = c
            for d in arr_d:
                d = np.round(d,4)
                if d==c or d==b or d==a:
                    continue
                picks_dic["d"] = d
                picks_dic["bounder_r"] = 1
                row_dic = get_utl_for_each_palyer(picks_dic)
                df = df.append(row_dic,ignore_index = True)
df = df.drop(columns=["bounder_l","bounder_r"])

Progress:0.0/100
Progress:5.0/100
Progress:10.0/100
Progress:15.0/100
Progress:20.0/100
Progress:25.0/100
Progress:30.0/100
Progress:35.0/100
Progress:40.0/100
Progress:45.0/100
Progress:50.0/100
Progress:55.00000000000001/100
Progress:60.0/100
Progress:65.0/100
Progress:70.0/100
Progress:75.0/100
Progress:80.0/100
Progress:85.0/100
Progress:90.0/100
Progress:95.0/100
Progress:100.0/100

In [154]:
df_max_ult_d = pd.DataFrame()
for a in arr_a:
    a = np.round(a,4)
    for b in arr_b:
        b = np.round(b,4)
        if b == a:
            continue
        for c in arr_c:
            c = np.round(c,4)
            if c==b or c==a:
                continue
            #print(a,b,c)
            df_temp = df[df.a==a][df.b==b][df.c==c]
            df_max_ult_d = df_max_ult_d.append(df_temp[df.utl_d==max(df_temp.utl_d)])
            #print(df_max_ult_d)
df_max_ult_d

          a     b     c     d  utl_a  utl_b  utl_c  utl_d
0       0.0  0.05  0.10  0.15  0.025  0.050  0.050  0.875
19      0.0  0.05  0.15  0.20  0.025  0.075  0.075  0.825
38      0.0  0.05  0.20  0.25  0.025  0.100  0.100  0.775
57      0.0  0.05  0.25  0.30  0.025  0.125  0.125  0.725
76      0.0  0.05  0.30  0.35  0.025  0.150  0.150  0.675
95      0.0  0.05  0.35  0.40  0.025  0.175  0.175  0.625
114     0.0  0.05  0.40  0.45  0.025  0.200  0.200  0.575
133     0.0  0.05  0.45  0.50  0.025  0.225  0.225  0.525
152     0.0  0.05  0.50  0.55  0.025  0.250  0.250  0.475
171     0.0  0.05  0.55  0.60  0.025  0.275  0.275  0.425
...     ...   ...   ...   ...    ...    ...    ...    ...
143468  1.0  0.95  0.45  0.40  0.025  0.275  0.275  0.425
143487  1.0  0.95  0.50  0.45  0.025  0.250  0.250  0.475
143506  1.0  0.95  0.55  0.50  0.025  0.225  0.225  0.525
143525  1.0  0.95  0.60  0.55  0.025  0.200  0.200  0.575
143544  1.0  0.95  0.65  0.60  0.025  0.175  0.175  0.625
143563  1.0  0.95  0.70  0.65  0.025  0.150  0.150  0.675
143582  1.0  0.95  0.75  0.70  0.025  0.125  0.125  0.725
143601  1.0  0.95  0.80  0.75  0.025  0.100  0.100  0.775
143620  1.0  0.95  0.85  0.80  0.025  0.075  0.075  0.825
143639  1.0  0.95  0.90  0.85  0.025  0.050  0.050  0.875

[36936 rows x 8 columns]

In [155]:
df_max_ult_c = pd.DataFrame()
for a in arr_a:
    a = np.round(a,4)
    for b in arr_b:
        b = np.round(b,4)
        if b == a:
            continue
        df_temp = df_max_ult_d[df.a==a][df.b==b]
        df_max_ult_c = df_max_ult_c.append(df_temp[df.utl_c==max(df_temp.utl_c)])
df_max_ult_c

          a     b     c     d  utl_a  utl_b  utl_c  utl_d
216     0.0  0.05  0.70  0.10  0.025  0.050  0.600  0.325
559     0.0  0.10  0.70  0.15  0.050  0.075  0.575  0.300
902     0.0  0.15  0.70  0.20  0.075  0.100  0.550  0.275
1263    0.0  0.20  0.75  0.25  0.100  0.125  0.500  0.275
1606    0.0  0.25  0.75  0.30  0.125  0.150  0.475  0.250
1949    0.0  0.30  0.75  0.35  0.150  0.175  0.450  0.225
2310    0.0  0.35  0.80  0.40  0.175  0.200  0.400  0.225
2646    0.0  0.40  0.80  0.05  0.025  0.375  0.400  0.200
2647    0.0  0.40  0.80  0.10  0.050  0.350  0.400  0.200
2648    0.0  0.40  0.80  0.15  0.075  0.325  0.400  0.200
...     ...   ...   ...   ...    ...    ...    ...    ...
140991  1.0  0.60  0.20  0.85  0.075  0.325  0.400  0.200
140992  1.0  0.60  0.20  0.90  0.050  0.350  0.400  0.200
140993  1.0  0.60  0.20  0.95  0.025  0.375  0.400  0.200
141329  1.0  0.65  0.20  0.60  0.175  0.200  0.400  0.225
141690  1.0  0.70  0.25  0.65  0.150  0.175  0.450  0.225
142033  1.0  0.75  0.25  0.70  0.125  0.150  0.475  0.250
142376  1.0  0.80  0.25  0.75  0.100  0.125  0.500  0.275
142737  1.0  0.85  0.30  0.80  0.075  0.100  0.550  0.275
143080  1.0  0.90  0.30  0.85  0.050  0.075  0.575  0.300
143423  1.0  0.95  0.30  0.90  0.025  0.050  0.600  0.325

[2164 rows x 8 columns]

In [156]:
df_max_ult_c[df_max_ult_c.a==0.2][df_max_ult_c.b==0.8]

         a    b     c     d  utl_a  utl_b  utl_c  utl_d
32637  0.2  0.8  0.45  0.15  0.150  0.375    0.3  0.175
32648  0.2  0.8  0.45  0.85  0.325  0.200    0.3  0.175
32655  0.2  0.8  0.50  0.15  0.175  0.350    0.3  0.175
32666  0.2  0.8  0.50  0.85  0.350  0.175    0.3  0.175
32673  0.2  0.8  0.55  0.15  0.200  0.325    0.3  0.175
32684  0.2  0.8  0.55  0.85  0.375  0.150    0.3  0.175

In [157]:
df_max_ult_b = pd.DataFrame()
for a in arr_a:
    a = np.round(a,4)
    df_temp = df_max_ult_c[df_max_ult_c.a==a]
    df_max_ult_b = df_max_ult_b.append(df_temp[df.utl_b==max(df_temp.utl_b)])
df_max_ult_b

           a     b     c     d  utl_a  utl_b  utl_c  utl_d
5256    0.00  0.80  0.40  0.05  0.025  0.400  0.375  0.200
12115   0.05  0.80  0.45  0.10  0.075  0.375  0.350  0.200
16670   0.10  0.45  0.80  0.15  0.125  0.325  0.375  0.175
17012   0.10  0.50  0.80  0.15  0.125  0.325  0.350  0.200
19316   0.10  0.85  0.50  0.15  0.125  0.325  0.350  0.200
26157   0.15  0.85  0.50  0.20  0.175  0.325  0.325  0.175
32637   0.20  0.80  0.45  0.15  0.150  0.375  0.300  0.175
39082   0.25  0.75  0.30  0.20  0.050  0.475  0.250  0.225
45923   0.30  0.75  0.25  0.35  0.050  0.450  0.275  0.225
53106   0.35  0.80  0.25  0.40  0.075  0.400  0.300  0.225
...      ...   ...   ...   ...    ...    ...    ...    ...
90533   0.65  0.20  0.75  0.60  0.075  0.400  0.300  0.225
97716   0.70  0.25  0.75  0.65  0.050  0.450  0.275  0.225
104557  0.75  0.25  0.70  0.80  0.050  0.475  0.250  0.225
111002  0.80  0.20  0.55  0.85  0.150  0.375  0.300  0.175
117482  0.85  0.15  0.50  0.80  0.175  0.325  0.325  0.175
124323  0.90  0.15  0.50  0.85  0.125  0.325  0.350  0.200
126627  0.90  0.50  0.20  0.85  0.125  0.325  0.350  0.200
126969  0.90  0.55  0.20  0.85  0.125  0.325  0.375  0.175
131524  0.95  0.20  0.55  0.90  0.075  0.375  0.350  0.200
138383  1.00  0.20  0.60  0.95  0.025  0.400  0.375  0.200

[26 rows x 8 columns]

In [158]:
# epsilon = 0.05
df_max_ult_a = pd.DataFrame()
df_temp = df_max_ult_b
df_max_ult_a = df_max_ult_a.append(df_temp[df.utl_a==max(df_temp.utl_a)])
df_max_ult_a

           a     b    c     d  utl_a  utl_b  utl_c  utl_d
26157   0.15  0.85  0.5  0.20  0.175  0.325  0.325  0.175
69686   0.50  0.15  0.8  0.45  0.175  0.300  0.350  0.175
73953   0.50  0.85  0.2  0.55  0.175  0.300  0.350  0.175
117482  0.85  0.15  0.5  0.80  0.175  0.325  0.325  0.175

In [150]:
# a = 0.5
df_max_ult_a = pd.DataFrame()
df_temp = df_max_ult_b
df_max_ult_a = df_max_ult_a.append(df_temp[df.utl_a==max(df_temp.utl_a)])
df_max_ult_a

        a     b      c      d  utl_a   utl_b   utl_c  utl_d
4894  0.5  0.83  0.175  0.525  0.175  0.3225  0.3375  0.165

In [142]:
# 0.01 but restricted space
df_max_ult_a = pd.DataFrame()
df_temp = df_max_ult_b
df_max_ult_a = df_max_ult_a.append(df_temp[df.utl_a==max(df_temp.utl_a)])
df_max_ult_a

           a     b    c      d   utl_a  utl_b   utl_c  utl_d
128499  0.17  0.83  0.5  0.175  0.1725  0.335  0.3275  0.165

In [17]:
#epsilon = 0.1
df_max_ult_a = pd.DataFrame()
df_temp = df_max_ult_b
df_max_ult_a = df_max_ult_a.append(df_temp[df.utl_a==max(df_temp.utl_a)])
df_max_ult_a

        a    b    c    d  utl_a  utl_b  utl_c  utl_d
1977  0.2  0.8  0.5  0.1    0.2   0.35   0.30   0.15
3795  0.5  0.2  0.8  0.4    0.2   0.30   0.35   0.15
4124  0.5  0.8  0.2  0.6    0.2   0.30   0.35   0.15
5942  0.8  0.2  0.5  0.9    0.2   0.35   0.30   0.15