In [21]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import warnings
warnings.filterwarnings("ignore")
pd.set_option('display.max_rows', 20)

In [22]:
'''
a #number picked by A
A #Player A
ult_a #utility of A
'''

n = 3  # Num of palyers
epsilon = 0.01 #stepsize

In [23]:
def get_utl_of_a_palyer(ord_picks,p_index,p_name):
    if p_index == 1:
        ult = ord_picks[p_index]-ord_picks[0] + (ord_picks[p_index+1]-ord_picks[p_index])/2
    elif p_index == len(ord_picks)-2:
        ult = ord_picks[-1]-ord_picks[p_index] + (ord_picks[p_index]-ord_picks[p_index-1])/2
    else:
        ult = (ord_picks[p_index+1]-ord_picks[p_index-1])/2
    return {"utl_"+p_name:np.round(ult,4)}

def get_utl_for_each_palyer(picks_dic):
    utl_dic = {}
    ord_picks_dic = {k: v for k, v in sorted(picks_dic.items(), key=lambda item: item[1])}
    for p_index in range(1,n+1):
        utl_dic.update(get_utl_of_a_palyer(list(ord_picks_dic.values()),p_index,list(ord_picks_dic.keys())[p_index],))
    ord_picks_dic.update(utl_dic)
    return ord_picks_dic
'''#test
picks_dic={}
picks_dic["bounder_l"] = 0
picks_dic["a"] = 0.1
picks_dic["b"] = 0.3
picks_dic["c"] = 0.2
picks_dic["bounder_r"] = 1
get_utl_for_each_palyer(picks_dic)
'''

'#test\npicks_dic={}\npicks_dic["bounder_l"] = 0\npicks_dic["a"] = 0.1\npicks_dic["b"] = 0.3\npicks_dic["c"] = 0.2\npicks_dic["bounder_r"] = 1\nget_utl_for_each_palyer(picks_dic)\n'

In [24]:
%%time
#columns = ["bounder_l","a","b","c","bounder_r","utl_a","utl_b","utl_c"]
df = pd.DataFrame()
picks_dic = {}
picks_dic["bounder_l"] = 0
for a in np.arange(0,1+epsilon,step=epsilon):
    a = np.round(a,4)
    print("Progress:{}/100".format(a*100))
    picks_dic["a"] = a
    for b in np.arange(0,1+epsilon,step=epsilon):
        b = np.round(b,4)
        if b == a:
            continue
        picks_dic["b"] = b
        for c in np.arange(0,1+epsilon,step=epsilon):
            c = np.round(c,4)
            if c==b or c==a:
                continue
            picks_dic["c"] = c
            picks_dic["bounder_r"] = 1
            row_dic = get_utl_for_each_palyer(picks_dic)
            df = df.append(row_dic,ignore_index = True)
df = df.drop(columns=["bounder_l","bounder_r"])

Progress:0.0/100
Progress:1.0/100
Progress:2.0/100
Progress:3.0/100
Progress:4.0/100
Progress:5.0/100
Progress:6.0/100
Progress:7.000000000000001/100
Progress:8.0/100
Progress:9.0/100
Progress:10.0/100
Progress:11.0/100
Progress:12.0/100
Progress:13.0/100
Progress:14.000000000000002/100
Progress:15.0/100
Progress:16.0/100
Progress:17.0/100
Progress:18.0/100
Progress:19.0/100
Progress:20.0/100
Progress:21.0/100
Progress:22.0/100
Progress:23.0/100
Progress:24.0/100
Progress:25.0/100
Progress:26.0/100
Progress:27.0/100
Progress:28.000000000000004/100
Progress:28.999999999999996/100
Progress:30.0/100
Progress:31.0/100
Progress:32.0/100
Progress:33.0/100
Progress:34.0/100
Progress:35.0/100
Progress:36.0/100
Progress:37.0/100
Progress:38.0/100
Progress:39.0/100
Progress:40.0/100
Progress:41.0/100
Progress:42.0/100
Progress:43.0/100
Progress:44.0/100
Progress:45.0/100
Progress:46.0/100
Progress:47.0/100
Progress:48.0/100
Progress:49.0/100
Progress:50.0/100
Progress:51.0/100
Progress:52.0/100
Progress:53.0/100
Progress:54.0/100
Progress:55.00000000000001/100
Progress:56.00000000000001/100
Progress:57.00000000000001/100
Progress:57.99999999999999/100
Progress:59.0/100
Progress:60.0/100
Progress:61.0/100
Progress:62.0/100
Progress:63.0/100
Progress:64.0/100
Progress:65.0/100
Progress:66.0/100
Progress:67.0/100
Progress:68.0/100
Progress:69.0/100
Progress:70.0/100
Progress:71.0/100
Progress:72.0/100
Progress:73.0/100
Progress:74.0/100
Progress:75.0/100
Progress:76.0/100
Progress:77.0/100
Progress:78.0/100
Progress:79.0/100
Progress:80.0/100
Progress:81.0/100
Progress:82.0/100
Progress:83.0/100
Progress:84.0/100
Progress:85.0/100
Progress:86.0/100
Progress:87.0/100
Progress:88.0/100
Progress:89.0/100
Progress:90.0/100
Progress:91.0/100
Progress:92.0/100
Progress:93.0/100
Progress:94.0/100
Progress:95.0/100
Progress:96.0/100
Progress:97.0/100
Progress:98.0/100
Progress:99.0/100
Progress:100.0/100
Wall time: 17h 11min 17s

In [26]:
df_max_ult_c = pd.DataFrame()
for a in set(df.a):
    for b in set(df.b):
        if a==b:
            continue
        df_temp = df[df.a==a][df.b==b]
        df_max_ult_c = df_max_ult_c.append(df_temp[df.utl_c==max(df_temp.utl_c)])

In [41]:
df_max_ult_c[df_max_ult_c.a==0.25][df_max_ult_c.b==0.75]

           a     b     c  utl_a  utl_b  utl_c
254851  0.25  0.75  0.26  0.255  0.495   0.25
254852  0.25  0.75  0.27  0.260  0.490   0.25
254853  0.25  0.75  0.28  0.265  0.485   0.25
254854  0.25  0.75  0.29  0.270  0.480   0.25
254855  0.25  0.75  0.30  0.275  0.475   0.25
254856  0.25  0.75  0.31  0.280  0.470   0.25
254857  0.25  0.75  0.32  0.285  0.465   0.25
254858  0.25  0.75  0.33  0.290  0.460   0.25
254859  0.25  0.75  0.34  0.295  0.455   0.25
254860  0.25  0.75  0.35  0.300  0.450   0.25
...      ...   ...   ...    ...    ...    ...
254890  0.25  0.75  0.65  0.450  0.300   0.25
254891  0.25  0.75  0.66  0.455  0.295   0.25
254892  0.25  0.75  0.67  0.460  0.290   0.25
254893  0.25  0.75  0.68  0.465  0.285   0.25
254894  0.25  0.75  0.69  0.470  0.280   0.25
254895  0.25  0.75  0.70  0.475  0.275   0.25
254896  0.25  0.75  0.71  0.480  0.270   0.25
254897  0.25  0.75  0.72  0.485  0.265   0.25
254898  0.25  0.75  0.73  0.490  0.260   0.25
254899  0.25  0.75  0.74  0.495  0.255   0.25

[49 rows x 6 columns]

In [28]:
df_max_ult_b = pd.DataFrame()
for a in set(df.a):
    df_temp = df_max_ult_c[df_max_ult_c.a==a]
    df_max_ult_b = df_max_ult_b.append(df_temp[df.utl_b==max(df_temp.utl_b)])
df_max_ult_b

           a     b     c  utl_a  utl_b  utl_c
6534    0.00  0.67  0.01  0.005  0.660  0.335
244950  0.24  0.75  0.25  0.245  0.500  0.255
254851  0.25  0.75  0.26  0.255  0.495  0.250
499999  0.50  0.51  0.49  0.010  0.495  0.495
499900  0.50  0.49  0.51  0.010  0.495  0.495
264652  0.26  0.74  0.25  0.245  0.500  0.255
509801  0.51  0.49  0.52  0.015  0.500  0.485
754949  0.76  0.25  0.75  0.245  0.500  0.255
539207  0.54  0.46  0.55  0.045  0.500  0.455
745048  0.75  0.25  0.74  0.255  0.495  0.250
...      ...   ...   ...    ...    ...    ...
617623  0.62  0.38  0.63  0.125  0.500  0.375
864256  0.87  0.29  0.86  0.135  0.575  0.290
36336   0.03  0.68  0.04  0.035  0.640  0.325
705841  0.71  0.29  0.72  0.215  0.500  0.285
953662  0.96  0.32  0.95  0.045  0.635  0.320
26336   0.02  0.67  0.03  0.025  0.650  0.325
16435   0.01  0.67  0.02  0.015  0.655  0.330
568613  0.57  0.43  0.58  0.075  0.500  0.425
814553  0.82  0.27  0.81  0.185  0.540  0.275
411682  0.41  0.59  0.40  0.095  0.500  0.405

[102 rows x 6 columns]

In [38]:
df_max_ult_b[df_max_ult_c.a==0.25]

           a     b     c  utl_a  utl_b  utl_c
254851  0.25  0.75  0.26  0.255  0.495   0.25

In [29]:
df_max_ult_a = pd.DataFrame()
df_temp = df_max_ult_b
df_max_ult_a = df_max_ult_a.append(df_temp[df.utl_a==max(df_temp.utl_a)])
df_max_ult_a

           a     b     c  utl_a  utl_b  utl_c
254851  0.25  0.75  0.26  0.255  0.495   0.25
745048  0.75  0.25  0.74  0.255  0.495   0.25